.formControl.error input,
.formControl.error textarea {
border: solid red 2px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: solid red 1px;
    padding: 5px;
    margin: 2px;
    color: red;
}

.main {
    margin-left: 20px;
    font-size: 20px;
}

.formError {
    padding: 5px;
    border: 1px solid red;
    color: red;
}