.header {
    grid-area: h;
    background-color: #7eb435;
    border-radius: 8px;
}
.header img {
    width: 60px;
}

.logoText {
    font-family: "Showcard Gothic";
    font-size: 40px;
    margin: 5%;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}