.nav {
    grid-area: n;
    background-color: #2E8B57;
    padding: 20px;
    width: 80%;
    height: 800px;
    border-radius: 8px;
}

.item a {
    color: white;
    text-decoration: none;
    font-family: "Century Gothic";
    font-size: 24px;
}

.item a.activeLink {
    color: black;
}